<div class="dialog-container">
  <h1 mat-dialog-title>Add Assets</h1>
  <div mat-dialog-content>
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Asset Name</mat-label>
        <input matInput placeholder="Asset Name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Asset Type</mat-label>
        <mat-select>
          <mat-option value="one">Real Estate</mat-option>
          <mat-option value="two">Vehicle</mat-option>
          <mat-option value="three">Investments</mat-option>
          <mat-option value="four">Cash</mat-option>
          <mat-option value="other">Other</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Asset value</mat-label>
        <input type="number" matInput placeholder="Asset Value">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Asset Details</mat-label>
        <textarea matInput placeholder="Asset Details"></textarea>
      </mat-form-field>
    </form>

  </div>
  <div mat-dialog-actions>
      <button type="button" (click)="onCancel()" mat-button>Cancel</button>
      <button type="button" mat-flat-button>ADD</button>
  </div>
</div>
