<div class="dialog-container">
  <h1 mat-dialog-title>{{this.data.type === 'add' ? 'Add' : 'Edit'}} Categories</h1>

  <div mat-dialog-content>
    <form [formGroup]="categoryForm">
      <mat-form-field appearance="outline">
        <mat-label>Select Head</mat-label>
        <mat-select formControlName="head">
          <mat-option [value]="'Expenditure'">Expenditure</mat-option>
          <mat-option [value]="'Income'" >Income</mat-option>
          <mat-option [value]="'Financial Obilgations'" >Financial Obilgations</mat-option>
          <mat-option [value]="'Investment'" >Investment</mat-option>
          <mat-option [value]="'Charity'"> Charity</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label>Main Classification</mat-label>
        <input matInput formControlName="main_classification" />
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label>Sub Classification</mat-label>
        <input matInput formControlName="sub_classification" />
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label>Display Name</mat-label>
        <input matInput formControlName="display_name" />
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option [value]="'Mandatory'" >Mandatory</mat-option>
          <mat-option [value]="'Optional'" >Optional</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label>Frequency</mat-label>
        <mat-select formControlName="frequency">
          <mat-option [value]="'1'" >Quarter - 1</mat-option>
          <mat-option [value]="'2'" >Quarter - 2</mat-option>
          <mat-option [value]="'3'" >Quarter - 3</mat-option>
          <mat-option [value]="'4'" >Quarter - 4</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label>Budget Allocation (%)</mat-label>
        <input matInput type="number" formControlName="budget_allocation_percentage"/>
      </mat-form-field>
    </form>
  </div>

  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onCancel()">Cancel</button>
    
    @if(data.type === 'add'){
      <button mat-flat-button type="button" class="btn-add" (click)="onAdd()">Add</button>
    }@else {
      <button mat-flat-button type="button" class="btn-add" (click)="onUpdate()">Update</button>
    }
  </div>
</div>
