<div class="dashboard">
  <div class="dashboard-header">
    <h2>Dashboard</h2>
  </div>

  @if(loader){
  <div *ngIf="loader" class="dashboard-spinner">
    <mat-spinner></mat-spinner>
  </div>
  }@else {
  <div class="dashboard-body">
    <div class="dashboard-body-container">
      <div class="dashboard-body-container-analysis">
        <h3>Bank-wise Transaction Analysis</h3>
      </div>
      <div class="dashboard-body-container-content">
        <div
          class="dashboard-body-container-content-container"
          *ngFor="let card of cardData"
        >
          <div class="dashboard-body-container-content-container-card">
            <div class="dashboard-body-container-content-container-card-head">
              <img
                [src]="card.bank_logo_url"
                alt="bank-logo"
                [style.height.px]="50"
                [style.width.px]="50"
              />
              <h3>{{ card.provider }}</h3>
            </div>

            <div
              class="dashboard-body-container-content-container-card-content"
            >
              <p>Total Transactions</p>
              <b
                ><p>{{ card.transaction_count }}</p></b
              >
            </div>

            <div
              class="dashboard-body-container-content-container-card-content"
            >
              <p>Total Inflow</p>
              <p
                class="dashboard-body-container-content-container-card-content-inflow"
              >
                ₹{{ card.inflow }}
              </p>
            </div>

            <div
              class="dashboard-body-container-content-container-card-content"
            >
              <p>Total Outflow</p>
              <p
                class="dashboard-body-container-content-container-card-content-outflow"
              >
                ₹{{ card.outflow }}
              </p>
            </div>

            <div>
              <p>
                {{ card.percentage_of_transactions }}% of total transactions
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="dashboard-body-content">
      <div class="dashboard-body-content-categories">
        <div class="dashboard-body-content-categories-head">
          <h3>Top Spending Categories</h3>
        </div>

        <div class="dashboard-body-content-categories-body">
          <div
            class="dashboard-body-content-categories-body-content"
            *ngFor="let item of spendingData"
          >
            <div>
              <h4>{{ item.display_name }}</h4>
              <p>{{ item.transaction_count }} transactions</p>
            </div>
            <div>
              <h4>₹{{ item.total_amount }}</h4>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="dashboard-body-content-categories">
        <div class="dashboard-body-content-categories-head">
          <h3>Reccuring Transactions</h3>
        </div>

        <div class="dashboard-body-content-categories-body">
          <div
            class="dashboard-body-content-categories-body-content"
            *ngFor="let item of recurringData"
          >
            <div class="dashboard-body-content-categories-body-content-items">
              <div>
                <img
                  [src]="item.bank_logo_url"
                  alt="bank_logo"
                  [style.height.px]="50"
                  [style.width.px]="50"
                />
              </div>
              <div>
                <h4>{{ item.category_name }}</h4>
                <p>{{ item.account_provider }}</p>
              </div>
            </div>
            <div>
              <h4>₹{{ item.average_amount | number : "1.0-0" }}</h4>
              <p>
                Last: <b>{{ item.last_transaction_date }}</b>
              </p>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  }
</div>
