<div class="dashboard">
  <div class="bank">
    <div class="bank-header">
      <div class="bank-header__header">
        <div class="category-icon">
          <mat-icon>account_balance</mat-icon>
        </div>
        <h3>Bank-wise Transaction Analysis</h3>
      </div>
      <div class="fill-space"></div>
      <div class="bank-header-actions">
        <button mat-icon-button color="primary" (click)="prev()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="next()">
          <mat-icon>keyboard_arrow_right </mat-icon>
        </button>
      </div>
    </div>
    <div class="bank-dashboard" #dashboard__bank>
      <div class="bank-dashboard-track" [style.transform]="getTranslateX()">
        @if(bankLoader()){ @for (item of [].constructor(5); track $index) {
        <app-card-shimmer [width]="'340px'" [height]="'240px'" [noOfLines]="3"></app-card-shimmer>
        } }@else { @for(card of cardData; track $index;let i = $index ){
        <div class="dashboard__bank--card">
          <div class="dashboard__bank--card__header">
            <img [src]="card.bank_logo_url" width="48px" height="48px" alt="Bank Icon" class="bank-icon" />
            <h3 class="dashboard__bank--card__header__title">
              {{ card.provider | textTrim : 8 }}
            </h3>
            <div class="fill-space"></div>
            <div class="dashboard__bank--card__header__transaction">
              {{ card.transaction_count }} Transactions
            </div>
          </div>
          <div class="dashboard__bank--card__body">
            <div class="dashboard__bank--card__body--transaction">
              <div class="dashboard__bank--card__body--transaction__content">
                <div class="bank-amount-icon bank-amount-icon--success">
                  <mat-icon>arrow_upward_alt</mat-icon>
                </div>
                <div class="bank-amount__header">Inflow</div>
                <div class="fill-space"></div>
                <div class="bank-amount__value success">
                  <div class="currency">
                    <mat-icon>currency_rupee</mat-icon>{{ card.inflow }}</div>
                  </div>
              </div>
              <mat-progress-bar class="mdc-linear-progress--success" mode="determinate"
                [value]="getPercent('inflow', card)"></mat-progress-bar>
            </div>
            <div class="dashboard__bank--card__body--transaction">
              <div class="dashboard__bank--card__body--transaction__content">
                <div class="bank-amount-icon bank-amount-icon--danger">
                  <mat-icon>arrow_downward_alt</mat-icon>
                </div>
                <div class="bank-amount__header">Outflow</div>
                <div class="fill-space"></div>
                <div class="bank-amount__value danger">
                  <div class="currency">
                    <mat-icon>currency_rupee</mat-icon>{{ card.outflow }}</div>
                  </div>
              </div>
              <mat-progress-bar class="mdc-linear-progress--danger" mode="determinate"
                [value]="getPercent('outflow', card)"></mat-progress-bar>
            </div>
            <div class="fill-space"></div>
            <div class="dashboard__bank--card__body--net">
              <div class="dashboard__bank--card__body--net__header">
                Net Amount
              </div>
              <div class="fill-space"></div>
              <div class="dashboard__bank--card__body--net__value">
                <div class="currency">
                  <mat-icon>currency_rupee</mat-icon>{{ card.inflow - card.outflow | number : "1.2-2" }}
                </div>
              </div>
            </div>
          </div>
        </div>

        } }
      </div>
    </div>
  </div>

  <div class="dashboard-categories">
    <div class="dashboard-categories__header">
      <div class="category-icon">
        <mat-icon>show_chart</mat-icon>
      </div>
      <h3>Top Spending Categories</h3>
    </div>
    <div class="dashboard-categories__content">
      @if(categoryLoader()){ 
        @for (item of [].constructor(5); track $index) {
            <app-card-shimmer [width]="'100%'" [height]="'80px'" [noOfLines]="0"></app-card-shimmer>
      }
      }@else {
        @for(category of spendingData; track $index; let i = $index ){
        <div class="dashboard-categories__content--item">
          <div class="dashboard-categories__content--item__content">
            <div class="dashboard-categories__content--item__content-index">
              <h3>{{( i + 1) < 10 ? `0${i+1}` : i+1 }}</h3>
            </div>
            <div class="dashboard-categories__content--item__content-title">
              <h3>{{ category.display_name | textTrim }}</h3>
              <div class="dashboard__bank--card__header__transaction" [ngStyle]="{ width: 'fit-content' }">
                {{ (category.transaction_count ) < 10 ? `0${category.transaction_count }` : category.transaction_count }} Transactions
              </div>
            </div>
            <div class="fill-space"></div>
            <div class="dashboard-categories__content--item__content-value">
              <h2>
                <div class="currency">
                  <mat-icon>currency_rupee</mat-icon>{{ category.total_amount }}
                </div>

              </h2>
            </div>
          </div>
          <div class="dashboard-categories__content--item__progress">
            <div class="dashboard-categories__content--item__progress-header">
              <h5>Spending Impact</h5>
              <div class="fill-space"></div>
              <div>
                <h5>25.00%</h5>
              </div>
            </div>
            <div class="dashboard-categories__content--item__progress-progress">
              <mat-progress-bar class="mdc-linear-progress--category" mode="determinate" [value]="50"></mat-progress-bar>
            </div>
          </div>
        </div>
        }
      }
    </div>
  </div>
</div>