@use "../../sass/variables" as var;
.family {
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 100%;
  gap: 20px;

  &-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    h2 {
      font-weight: 800;
      line-height: 0.8px;
      color: var.$primary-color;
    }
  }

  &-body {
    width: 100%;
    padding-top: 28px;
  }
}

.fill-space {
  flex: 1 1 auto;
}

.badge {
  background-color: var.$primary-color;
  color: var.$background-color;
  display: flex;
  justify-content: center;
  width:74px;
  font-weight: 900;
  border-radius: 10px;
}

.no-data{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: var.$primary-color;

  &__items{
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 100%;
      background: cover;
      max-height: 400px;
    }
  }
}



