@use "../../sass/variables" as var;

.financial-items-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-header {
    &__title {
      color: var.$primary-color;
    }
  }
}
