<header class="header">
  <div class="header__menu">
    <button mat-icon-button (click)="toggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="header__menu__title">
      <h2>Financial Tool </h2>
    </div>
  </div>
  <div class="fill-space"></div>
  <div class="header-actions">
    <!-- <button mat-button class="header__button">Upload</button>
    <button mat-button class="header__button">Settings</button> -->
    <button mat-button [matMenuTriggerFor]="menu" type="button">
      <mat-icon class="header-actions__avatar">account_circle</mat-icon>
      <span class="header-actions__username">{{( this.person?.first_name && this.person.last_name ) ? this.person.first_name + " " + this.person.last_name : 'N/A'}}</span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item type="button" (click)="onLogout()"><mat-icon>logout</mat-icon> Logout</button>
      </mat-menu>
    </button>
  </div>
</header>


