<div class="categories">
  <div class="categories-header">
    <div class="categories-header__title">
      <h2>Categories</h2>
    </div>
    <div class="fill-space"></div>
    <div class="categories-header__actions">
      <button
        mat-flat-button
        class="categories-header__button"
        (click)="addCategory()"
      >
        <mat-icon>add</mat-icon>Add Category
      </button>
    </div>
  </div>

  <div class="categories-body">
    <!-- <div > -->
    <form class="categories-body__filters" [formGroup]="filtersForm">
      <mat-form-field
        appearance="outline"
        class="categories-body__filters__search"
      >
        <mat-label>Search</mat-label>
        <input
          matInput
          placeholder="Search Category..."
          formControlName="search"
        />
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="categories-body__filters__type"
      >
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option [value]="">All Categories</mat-option>
          <mat-option [value]="'custom'">Custom Categories</mat-option>
          <mat-option [value]="'system'">System Categories</mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <!-- </div> -->
    @if( loader() ){
    <app-table-shimmer [rows]="10" [columns]="5"></app-table-shimmer>
    }@else {
    <table [dataSource]="categoriesList" mat-table class="mat-elevation-z8">
      <ng-container matColumnDef="head">
        <th mat-header-cell *matHeaderCellDef>Head</th>
        <td mat-cell *matCellDef="let element">{{ element.head }}</td>
      </ng-container>

      <ng-container matColumnDef="main_classification">
        <th mat-header-cell *matHeaderCellDef>Main Classification</th>
        <td mat-cell *matCellDef="let element">
          {{ element.main_classification }}
        </td>
      </ng-container>

      <ng-container matColumnDef="sub_classification">
        <th mat-header-cell *matHeaderCellDef>Sub Classification</th>
        <td mat-cell *matCellDef="let element">
          {{ element.sub_classification }}
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">
           {{element.type ? element.type : "N/A"}}
        </td>
      </ng-container>

      <ng-container matColumnDef="frequency">
        <th mat-header-cell *matHeaderCellDef>Frequency</th>
        <td mat-cell *matCellDef="let element">{{   getFrequency(element)}}</td>
      </ng-container>
      <ng-container matColumnDef="source">
        <th mat-header-cell *matHeaderCellDef>Source</th>
        <td mat-cell *matCellDef="let element">
          <div class="badge badge-info">
            {{ element.source }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="budget_allocation_percentage">
        <th mat-header-cell *matHeaderCellDef>Budget Allocation</th>
        <td mat-cell *matCellDef="let element">
          {{ element.budget_allocation_percentage }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button [class.disabled]="element.source === 'system'"
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item type="button" [disabled]="element.source === 'system'" (click)="onEdit(element)">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item type="button" [disabled]="element.source === 'system'" (click)="onDelete(element)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="categoryColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: categoryColumns"></tr>
    </table>

    <mat-paginator
      [length]="totalCategories()"
      [pageSize]="rowsOnPage()"
      [pageIndex]="currentPage()"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onPage($event)"
      aria-label="Select page"
    >
    </mat-paginator>

    }
  </div>
</div>
