<div class="analysis">
  <div class="analysis-breadcrumps">
    <app-breadcrumps></app-breadcrumps>
  </div>
  <h2>Transaction Analysis</h2>
  <p>Showing analysis for statement ID: {{statementId}}</p>

  <!-- <div class="analysis-filters">
    <mat-form-field appearance="outline">
      <mat-label>Classification</mat-label>
      <mat-select [(ngModel)]="selectedClassification">
        <mat-option value="all">All</mat-option>
        <mat-option value="income">Income</mat-option>
        <mat-option value="expenditure">Expenditure</mat-option>
        <mat-option value="cash">Cash Withdrawal</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="analysis-slider-container">
      <label>Min Confidence</label>
      <input type="range" min="0" max="100" step="1" [(ngModel)]="minConfidence">
      <span>{{ minConfidence / 100 | number: '1.2-2' }}</span>
    </div>

    <button mat-flat-button color="primary">Apply</button>
  </div> -->

  <div class="analysis-body">
   @if(loader()){
      <app-table-shimmer [rows]="10" [columns]="5"></app-table-shimmer>
    }@else{
      <table mat-table [dataSource]="transactionSource" class="mat-elevation-z2">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Transaction Date</th>
          <td mat-cell *matCellDef="let element">{{ element.date }}</td>
        </ng-container>

        <ng-container matColumnDef="account_Provider">
          <th mat-header-cell *matHeaderCellDef>Provider</th>
          <td mat-cell *matCellDef="let element">{{ element.account_Provider }}</td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let element">{{ element.amount | currency }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element">{{ element.description }}</td>
        </ng-container>

        <ng-container matColumnDef="classification">
          <th mat-header-cell *matHeaderCellDef>Classification</th>
          <td mat-cell *matCellDef="let element">{{ element.classification }}</td>
        </ng-container>

        <ng-container matColumnDef="sub_Classification">
          <th mat-header-cell *matHeaderCellDef>Sub-classification</th>
          <td mat-cell *matCellDef="let element">{{ element.sub_Classification }}</td>
        </ng-container>

        <ng-container matColumnDef="confidence_Score">
          <th mat-header-cell *matHeaderCellDef>Confidence</th>
          <td mat-cell *matCellDef="let element">
            {{ element.confidence_Score }}%
          </td>
        </ng-container>

        <ng-container matColumnDef="debit">
          <th mat-header-cell *matHeaderCellDef>Amount(Debit/Credit)</th>
          <td mat-cell *matCellDef="let element">
            <div class="transaction-amount">
              <mat-icon>currency_rupee</mat-icon>
              {{element.debit?element.debit:element.credit}}
              <mat-icon [ngClass]="{'danger' : element.debit, 'success': element.credit}">{{element.debit ? 'arrow_outward' : 'south_west'}}</mat-icon>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="manually_Overridden">
          <th mat-header-cell *matHeaderCellDef>Manually Overridden</th>
          <td mat-cell *matCellDef="let element">
            <span class="chip">{{element.manually_Overridden ? 'YES' : 'NO'}}</span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="transactionColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: transactionColumns;"></tr>
      </table>
    }

    <mat-paginator
        [length]="totalTransactions()"
        [pageSize]="rowsOnPage()"
        [pageIndex]="currentPage()"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="onPage($event)"
        aria-label="Select page"
      >
      </mat-paginator>
  </div>
</div>
