.container {
  margin: 24px;
}

.filters {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 24px 0px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  width: 200px;
}

table {
  width: 100%;
}

.chip {
  background-color: #00cfe8;
  color: white;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
}
