<div class="transaction-card">
  <h2 class="transaction-card__title">
    <i class="transaction-card__icon fa fa-file-alt"></i>
    Transaction Analysis Status
  </h2>

  <div class="transaction-card__field">
    <i class="transaction-card__field-icon fa fa-bell"></i>
    <span class="transaction-card__label">Message:</span>
    <span class="transaction-card__value">{{message}}</span>
  </div>

  <div class="transaction-card__field">
    <i class="transaction-card__field-icon fa fa-hourglass-half"></i>
    <span class="transaction-card__label">Status:</span>
    <span class="transaction-card__value transaction-card__value--processing">{{status}}</span>
  </div>
</div>
