<div class="login-container">
  <div class="login-container__header">
    <h2>Financial Dashboard</h2>
  </div>

  <div class="login-container__form-container">
    <form class="login-container__form-container__form">

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>

      <br>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput>
      </mat-form-field>

      <br>

      <button mat-flat-button>Login</button>

    </form>
  </div>

  <div class="login-container__footer">
    Don't have an account. <a href="#">Register Now</a>
  </div>
</div>
