<div class="dialog-container">
  <h1 mat-dialog-title>Upload Document</h1>
  @if(loader()){
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }

  <div  mat-dialog-content [class.disabled]="loader()">
    <div class="upload-container" *ngIf="!uploadStatementForm.get('uploadFile')?.value" (click)="fileInput.click()">
      <mat-icon class="upload-container--icon">upload_file</mat-icon>
      <h4 class="margin-top--20">Choose a file or drag and drop it here.</h4>
      <div >xlsx & pdf upto 50MB only.</div>
      <button mat-button class="browse-files">Browse Files <mat-icon>arrow_circle_up</mat-icon></button>
      <input class="hidden" type="file" (change)="onFileChange($event)" #fileInput >
    </div>

    <div *ngIf="uploadStatementForm.get('uploadFile')?.value as selectedFile" class="selected-file">
       <img [src]="'public/icons/file2.png'" width="100px" height="100px">
        <div [formGroup]="uploadStatementForm" class="selected-file__content">
          <mat-form-field>
            <mat-label>Person</mat-label>
            <mat-select  formControlName="person"> 
              <mat-option [value]="this.auth.personId">Self</mat-option>
              @if(personsList.length){
                @for(person of personsList; track person.id) {
                  <mat-option [value]="person.id">{{person.first_name}}</mat-option>
                }
              }
            </mat-select>
          </mat-form-field>
          <div class="selected-file__content--name">
            {{ selectedFile.name }}
          </div>
         
          <button mat-button class="selected-file__content--action" (click)="onCancelFile()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
    </div>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onCancel()">Cancel</button>
    <button mat-flat-button type="button" class="btn-add" (click)="onUpload()" [disabled]="!uploadStatementForm.get('uploadFile')?.value || isUploading || uploadStatementForm.invalid">Upload</button>
  </div>
</div>
