<app-header></app-header>
  <mat-drawer-container class="drawer" autosize>
    <mat-drawer #drawer  mode="side" class="drawer-sidenav">
      <ul class="drawer-sidenav__items">
        <li class="drawer-sidenav__items__item" routerLink="dashboard" routerLinkActive="router-active"><mat-icon>home</mat-icon>  Dashboard</li>
        <li  class="drawer-sidenav__items__item" routerLink="family-details" routerLinkActive="router-active"><mat-icon>diversity_3</mat-icon>Family Members</li>
        <li class="drawer-sidenav__items__item"><mat-icon>account_balance</mat-icon> Accounts</li>
        <li class="drawer-sidenav__items__item" routerLink="packages" routerLinkActive="router-active"><mat-icon>account_balance_wallet</mat-icon>Packages</li>
        <li class="drawer-sidenav__items__item"><mat-icon>sync_alt</mat-icon>Transaction Details</li>
        <li class="drawer-sidenav__items__item"><mat-icon>balance</mat-icon>Assets & Liabilities</li>
        <li class="drawer-sidenav__items__item"><mat-icon>category</mat-icon>Categories</li>
        <li class="drawer-sidenav__items__item"><mat-icon>show_chart</mat-icon>NetWorth</li>
        <li class="drawer-sidenav__items__item"><mat-icon>local_atm</mat-icon>Cashflows</li>
      </ul>
    </mat-drawer>
    <main class="main">
       <router-outlet></router-outlet>
    </main>
  
  </mat-drawer-container>
  
