@use "../../sass/variables" as var;

.networth{
  display: flex;
  flex-direction: column;
  gap: 20px;
  h2 {
      color: var.$primary-color;
    }
  &-total{
    display: flex;
    align-items: center;
    justify-content: space-between;

    p{
      color: var.$primary-color;
      font-weight: bold;
    }
  }
}
