@use "../../sass/variables" as var;

.cashflows{

  &-header{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap:40px;

    h2 {
      font-weight: 800;
      color: var.$primary-color;
    }

    &-select{
      width: 100%;
      display: flex;
      gap: 10px;

      .mat-mdc-form-field{
        width: 100%;
      }
    }
  }

  &-body{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;

    &-segregation {
    width: 50%;
    height: 35vh;

    &-details{
      display: flex;
      width: 100%;
      height: fit-content;
      justify-content: space-around;
      margin-top: 20px;
      margin-bottom: 20px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      padding: 10px 0px;
    }
  }

    &-canvas{
      width: 500px;
      height: 500px;
    }
  }


}
