<div class="dialog-container">
  <h2 mat-dialog-title>Create Income</h2>
  @if(loader()){
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }

  <div mat-dialog-content>
    <form [formGroup]="incomeDeclerationForm">
      <mat-form-field>
        <mat-label>Source</mat-label>
        <input matInput type="text" formControlName="source">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Income</mat-label>
        <input type="number" matInput formControlName="income">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Has Asset</mat-label>
        <mat-select formControlName="has_asset" (selectionChange)="onAssetChange()">
          <mat-option [value]="true">Yes</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select Category Type</mat-label>
        <mat-select formControlName="category_type" (selectionChange)="onAssetTypeChange($event.value)">
          <mat-option [value]="item" *ngFor="let item of categoryTypes">{{item?.category_type}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Frequency</mat-label>
        <mat-select formControlName="frequency">
          <mat-option value="Monthly">Monthly</mat-option>
          <mat-option value="Quarterly">Quarterly</mat-option>
          <mat-option value="Half-yearly">Half-yearly</mat-option>
          <mat-option value="Yearly">Yearly</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Main Classification</mat-label>
        <mat-select formControlName="main_classification" (selectionChange)="onMainClassificationSelection($event.value)">
          <mat-option [value]="item" *ngFor="let item of mainClassifications">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Sub Classification</mat-label>
        <mat-select formControlName="sub_classification">
          <mat-option [value]="item" *ngFor="let item of subClassifications">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>

  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onCancel()">Cancel</button>

    @if(data.type === 'add'){
        <button
          mat-flat-button
          type="button"
          class="btn-add"
          (click)="onAddIncome()"
        >
          ADD
        </button>
      } @else {
        <button
          mat-flat-button
          type="button"
          class="btn-add"
          (click)="onUpdate()"
        >
          Update
        </button>
      }
  </div>
</div>
