@use "../../sass/variables" as var;

.login {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;



  &-container {
  background-color: #fff;
  padding: 20px;
  width: 500px;
  border-radius: 5px;

  &__header{
    width: 100%;
    text-align: center;
    padding: 0px 20px 20px 20px;
  }

  &__form-container{
    &__form{
      .mat-mdc-form-field{
        width: 100%;

        .mdc-text-field--filled{
          background-color: whitesmoke !important;
        }
      }

      button {
        width: 100%;
        padding: 12px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        // background-color: #4361EE;
        color: white;
        font-weight: bold;
      }
    }
  }

  &__footer{
    width: 100%;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
  }
  }
}
// .mat-mdc-progress-bar{
//   width: 500px !important;
// }
