@use "../../sass/variables" as var;

.login {
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  &_image {
    flex: 1 2 70%;
    min-width: 600px;
    min-height: 100vh;
    animation: loginImage 1s linear;
   
  }

  &-container {
    flex: 1 1 30%;
    height: 100vh;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap:16px;

    &__content {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      gap: 16px;
      // align-items: center;
      justify-content: center;

      &__header {
        width: 100%;
      }
  
      &__form-container {
        &__form {
          .mat-mdc-form-field {
            width: 100%;
  
            .mdc-text-field--filled {
              background-color: whitesmoke !important;
            }
          }
  
          button {
            width: 100%;
            padding: 12px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            // background-color: #4361EE;
            color: white;
            font-weight: bold;
          }
        }
      }
  
      &__footer {
        width: 100%;
        text-align: center;
        line-height: 50px;
        margin-top: 20px;
      }
    }

  }
}
@keyframes loginImage {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
  
}

