<div class="dialog-container">
  <h1 mat-dialog-title>Account Details</h1>
  @if(loader()){
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }

  <div mat-dialog-content>
    <form [formGroup]="accountDetailsForm">
      <mat-form-field appearance="outline">
        <mat-label>Account Holder</mat-label>
        <mat-select formControlName="person_id">
          <mat-option *ngFor="let person of persons" [value]="person.person_id">{{person.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Account Type</mat-label>
        <mat-select formControlName="account_type">
          <mat-option [value]="'SAVINGS'" >SAVINGS</mat-option>
          <mat-option [value]="'CURRENT'" >CURRENT</mat-option>
          <mat-option [value]="'FIXED_DEPOSIT'" >FIXED_DEPOSIT</mat-option>
          <mat-option [value]="'RECURRING_DEPOSIT'" >RECURRING_DEPOSIT</mat-option>
          <mat-option [value]="'CREDIT CARD'">CREDIT CARD</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Provider</mat-label>
        <input matInput  formControlName="provider" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Statement Type</mat-label>
        <mat-select formControlName="statement_type">
          <mat-option [value]="'Monthly Statements'" >Monthly Statements</mat-option>
          <mat-option [value]="'Quarterly Statements'" >Quarterly Statements</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Account Number</mat-label>
        <input matInput formControlName="account_number" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Beneficiary Name</mat-label>
        <input matInput formControlName="beneficiary_name"/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Interest Rate (%)</mat-label>
        <input matInput formControlName="interest_rate"/>
      </mat-form-field>
    </form>
  </div>

  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onCancel()">Cancel</button>

    @if(data.type === 'add'){
        <button
          mat-flat-button
          type="button"
          class="btn-add"
          (click)="onAdd()"
        >
          ADD
        </button>
      } @else {
        <button
          mat-flat-button
          type="button"
          class="btn-add"
          [disabled]="accountDetailsForm.invalid"
          (click)="onUpdate()"
        >
          Update
        </button>
      }
  </div>
</div>
