@use "../sass/variables" as *;


.mat-drawer {
  --mat-sidenav-container-width: 240px;
  --mat-sidenav-container-background-color : #{$background-color};
}

.mat-mdc-table {
  box-shadow: 0 0 8px lightgrey;
  padding: 12px 20px;
  
  .mat-mdc-header-row {
   color : $primary-color;
   font-weight: 500;
  }
}
.mat-mdc-menu-content {
  background: #{$background-color};
}

.mat-mdc-menu-item {
  --mat-menu-item-label-text-color : #{$primary-color};
  --mat-menu-item-icon-color: #{$primary-color};
  --mat-menu-item-focus-state-layer-color: #{$primary-color-light};
  --mat-menu-item-hover-state-layer-color: #{$primary-color-light};
}


//dialogs
.mat-mdc-dialog-surface {
  --mdc-dialog-container-shape : 10px;
  --mat-dialog-headline-padding: 0px;
}


//buttons
.mat-mdc-unelevated-button {
  border-radius: 8px !important;
}
.mat-mdc-button>.mat-icon {
  --mat-text-button-icon-spacing: 0;
  --mat-text-button-icon-offset: 0;
}
// .mat-mdc-outlined-button>.mat-icon  {
//   --mat-outlined-button-icon-offset : 0;
//   --mat-outlined-button-icon-spacing : 0;
// }

//tabs
.mdc-tab {
  min-width: 240px !important;
}
.mat-mdc-tab-group{
  width: 100%;
}
.mat-mdc-tab-body-content {
  padding: 16px 12px;
  display: flex;
  flex-direction: column;
   gap: 16px;

}