@use "../sass/variables" as *;




.mat-form-field-appearance-fill {
  .mdc-text-field--filled {
    background : unset;
    background-color: unset !important;
    --mat-sys-hover-state-layer-opacity : 0;
    padding: 0 4px !important;
    .mat-mdc-floating-label {
      margin-top: 8px;
    }
    .mdc-floating-label--float-above{
      margin-top: 0 !important;
    }
  }
}
.mat-drawer {
  --mat-sidenav-container-width: 240px;
  --mat-sidenav-container-background-color : #{$background-color};
   border-top-right-radius: 0 !important;
   border-bottom-right-radius: 0 !important;
}

.mat-mdc-table {
  box-shadow: 0 0 8px lightgrey;
  padding: 12px 20px;

  .mat-mdc-header-row {
   color : $primary-color;
   font-weight: 500;
  }
}
.mat-mdc-menu-content {
  background: #{$background-color};
}

.mat-mdc-menu-item {
  --mat-menu-item-label-text-color : #{$primary-color};
  --mat-menu-item-icon-color: #{$primary-color};
  --mat-menu-item-focus-state-layer-color: #{$primary-color-lighter};
  --mat-menu-item-hover-state-layer-color: #{$primary-color-lighter};
}


//dialogs
.mat-mdc-dialog-surface {
  --mdc-dialog-container-shape : 10px;
  --mat-dialog-headline-padding: 0px;
}


//buttons
.mat-mdc-unelevated-button {
  border-radius: 8px !important;
}
.mat-mdc-button>.mat-icon {
  --mat-text-button-icon-spacing: 0;
  --mat-text-button-icon-offset: 0;
}
// .mat-mdc-outlined-button>.mat-icon  {
//   --mat-outlined-button-icon-offset : 0;
//   --mat-outlined-button-icon-spacing : 0;
// }

//tabs
.mdc-tab {
  min-width: 240px !important;
}
.mat-mdc-tab-group{
  width: 100%;
}
.mat-mdc-tab-body-content {
  padding: 16px 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mat-mdc-paginator {
  margin-top: 8px;
}

.mat-cell, .mat-header-cell {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;     /* Vertical centering */
}

app-transaction-details-analyze{

  .mat-drawer-container {
    height: 100% !important;
    padding: 0px 0px 0px 4px !important;
  }

  mat-form-field {
    .mat-mdc-form-field-subscript-wrapper {
      display: none !important;
    }
  }
}
