$primary-color: #005cbb;
$primary-color-light: #EBF5FF;
$secondary-color: #F1F2F5;
$accent-color: #FF6F61;
$text-color: #333333;
$background-color: #FFFFFF;
$white: #ffff;
$border-color: #E0E0E0;
$success-color : #069D45;
$warning-color: #FF9800;
$danger-color: #F44336;
$light-grey: #DFDEE3;
$lighter-grey: #F4F4F6;