$primary-color: #005cbb;
$primary-color-light: #0070E0;
$primary-color-100: #D6EBFF;
$primary-color-200: #C2E1FF;
$primary-color-300: #ADD6FF;
$primary-color-400: #85C2FF;
$primary-color-500: #47A3FF;
$primary-color-lighter: #EBF5FF;
$secondary-color: #F1F2F5;
$accent-color: #FF6F61;
$text-color: #333333;
$background-color: #FFFFFF;
$white: #ffff;
$border-color: #E0E0E0;
$success-color : #37A8A9;
$success-color-100: #CCF5ED;
$success-color-200: #BBF2E7;
$success-color-300: #A9EFE1;
$success-color-400: #98ECDB;
$success-color-500: #86E9D5;
$success-color-600: #75E6CF;
$success-color-700: #64E3C9;
$success-color-800: #53DFC3;
$success-color-900: #41DCBD;
$warning-color: #F59300;
$danger-color-100: #FDEDEF;
$danger-color-200:#FBDADE;
$danger-color-300:#F9C8CE;
$danger-color-400: #F7B6BD;
$danger-color-500:#F5A3AB;
$danger-color-600: #EF6C79;
$danger-color-700: #ED5A68;
$danger-color-800: #EB4758;
$danger-color-900: #E93547;
$danger-color: #EF6C79;
$chart-green : rgba(75, 192, 192, 0.6);
$chart-red : rgba(255, 99, 132, 0.6);
$darker-grey: #556777;
$light-grey-1 : #E9E9ED;
$light-grey: #DFDEE3;
$grey: #606060;
$lighter-grey: #F4F4F6;
$headings-black : #292929;

// Font Sizes in px
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px; // base
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-2xl: 24px;
$font-size-3xl: 30px;
$font-size-4xl: 36px;
$font-size-5xl: 48px;
$font-size-6xl: 64px;


.primary {
  color: $primary-color
}