$primary-color: #005cbb;
$primary-color-light: #0070E0;
$primary-color-100: #D6EBFF;
$primary-color-200: #C2E1FF;
$primary-color-300: #ADD6FF;
$primary-color-400: #85C2FF;
$primary-color-500: #47A3FF;
$primary-color-lighter: #EBF5FF;
$secondary-color: #F1F2F5;
$accent-color: #FF6F61;
$text-color: #333333;
$background-color: #FFFFFF;
$white: #ffff;
$border-color: #E0E0E0;
$success-color : #069D45;
$success-color-100: #EFFAF1;
$success-color-200: #D0F0D6;
$success-color-300: #A2E2AE;
$success-color-400: #73D385;
$warning-color: #F59300;
$danger-color-100: #F6CBD1;
$danger-color-200:#F3BAC1;
$danger-color-300:#F0A8B1;
$danger-color-400: #EA8591;
$danger-color-500:#E15161;
$danger-color: #F44336;
$darker-grey: #556777;
$light-grey-1 : #E9E9ED;
$light-grey: #DFDEE3;
$grey: #606060;
$lighter-grey: #F4F4F6;
$headings-black : #292929;

// Font Sizes in px
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px; // base
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-2xl: 24px;
$font-size-3xl: 30px;
$font-size-4xl: 36px;
$font-size-5xl: 48px;
$font-size-6xl: 64px;


.primary {
  color: $primary-color
}