<div class="financial-items">
  <div class="financial-items-header">
    <app-financial-items-header></app-financial-items-header>
  </div>

  <!-- <div class="financial-items-content">
    <div class="financial-items-content__body">
      <mat-card class="financial-items-content__body__card" *ngFor="let card of items">
        <mat-card-content>
          <div class="financial-items-content__body__card__header">
            <div class="financial-items-content__body__card__header__title">
              <h3>{{ card[0] }}</h3>
            </div>
            <div class="financial-items-content__body__card__header__icon">
              <mat-icon color="primary">bar_chart</mat-icon>
            </div>
          </div>

          <div class="financial-items-content__body__card__value">
            Total Purchase Value: ₹{{ card[1].total_purchase_value | number:'1.0-0' }}
          </div>

          <div class="financial-items-content__body__card__items">
            Items: 10
          </div>

          <div class="financial-items-content__body__card__footer">
            <p (click)="getItemHeadDetails(card)">View Details</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div> -->

  <router-outlet></router-outlet>
</div>
