@use "../../sass/variables" as var;

.financial-items {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 100%;
  gap:20px;
  box-sizing: border-box;

  &-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap:10px;

    h2 {
      font-weight: 800;
      color: var.$primary-color;
    }
  }

  &-body {
    width: 100%;
    padding-top: 28px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    &__tab {
      
      &-actions {
        align-self: end
      }
    }

   

  }
}

.btn-actions { 
  display: flex;
  gap: 10px;
}