<div class="financial-items">
  <div class="financial-items-header">
    <div class="financial-items-header__title">
      <h2>Financial Items </h2>
    </div>
  </div>

  <div class="financial-items-cards">
    <div class="financial-items-cards-card financial-items-cards-card--info">
      <div class="financial-items-cards-card__label">
        All Items
      </div>
    </div>
    <div class="financial-items-cards-card financial-items-cards-card--default">
      <div class="financial-items-cards-card__label">
        Assets
      </div>
    </div>
    <div class="financial-items-cards-card financial-items-cards-card--warning">
      <div class="financial-items-cards-card__label">
        Liabilities
      </div>
    </div>
  </div>

  <div class="financial-items-add-btn">
      <button mat-flat-button (click)="onAddAsset()">
        <mat-icon>add</mat-icon>
        Add Item
      </button>
    </div>

  <div class="financial-items-content">
    <div class="financial-items-content__body">
      <mat-card class="financial-items-content__body__card" appearance="outlined" *ngFor="let item of items">
        <mat-card-header class="financial-items-content__body__card__header">
          <mat-card-title-group class="financial-items-content__body__card__header__group">
            <div class="financial-items-content__body__card__header__group__title">
              <mat-card-title>{{item.title}}</mat-card-title>
              <mat-card-subtitle>{{item.subtitle}}</mat-card-subtitle>
            </div>
          </mat-card-title-group>
        </mat-card-header>

        <mat-card-content class="financial-items-content__body__card__content">
          <div class="financial-items-content__body__card__content__outstanding">
            <p>{{item.outstanding}}</p>
            <h3>Outstanding</h3>
          </div>
          <div class="financial-items-content__body__card__content__emi">
            <p>{{item.monthlyEMI}}</p>
            <h3>Monthly EMI</h3>
          </div>
        </mat-card-content>

      </mat-card>
    </div>
  </div>

</div>
