@use '@angular/material' as mat;
@use "../src/app/sass/variables" as var;
@use "../src/app/sass/dialog";
@use "../src/app/sass/material-overrides";
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

//Global Colours






:root , * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; background-color: var.$secondary-color; overflow-y: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.disabled { 
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.router-active {
  background-color: var.$primary-color;
  color: var.$background-color !important;
  border-radius: 20px;
}


.fill-space {
  flex: 1 1 auto;
}

.badge {
  background-color: var.$primary-color;
  color: var.$background-color;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  width:74px;
  font-weight: 900;
  border-radius: 10px;
}

.margin {
  &-top {
    &--10 {
      margin-top: 10px;
    }
    &--20 {
      margin-top: 20px;
    }
  }
}


//utility

.hidden {
  display: none;
}