.register {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  &-container {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    width: 500px;
    border-radius: 5px;

    &__header {
      width: 100%;
      text-align: center;
      padding-bottom:10px; 
    }

    &__form-container {
      &__form {
        .mat-mdc-form-field {
          width: 100%;

          .mdc-text-field--filled {
            background-color: whitesmoke !important;
          }
        }

        button {
          width: 100%;
          padding: 10px;
          border-radius: 5px;
          border: none;
          cursor: pointer;
          background-color: #4361ee;
          color: white;
          font-weight: bold;
        }
      }
    }

    &__footer {
      width: 100%;
      text-align: center;
      line-height: 50px;
    }
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    gap: 60%;

    &__action {
      width: 100% !important;
    }
  }
}
